@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 
body{
    background-color: bisque;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    width: 192px;
    height: 192px;
    margin: 12px auto;
    display: block;

}
.enlaces{
    align-items: center;
        background-color: rgb(158, 208, 59);
       
        height: 50px;
       
    display: flex;
    gap: 350px;

}
.personalizado {
    display: inline-block;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.personalizado a {
    text-decoration:springgreen;
    font-weight: lighter;
    color: black;
}

.texto1{
        
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellowgreen;

}
.imagenes_horizontales{
    display: flex;
    justify-content: center;
    gap: 100px;
  

}
h1{
text-align: center;
}
img{
    width: 250px;
    height: 256px;

}
.despedida{
    text-align: center;
}